body{
    background-image: url(\images/fondo1.jpg);
    background-size: cover;
}
.titular{
    background-color:rgba(77, 77, 77, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1000px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10px;
}

.registro{
    background-color: rgba(77, 77, 77, 0.5);
    width: 400px;
    height: 600px;
    margin-left: 400px;
    margin-top: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.botonInicioSesion{
    width: 200px;
    height: 30px;
    background-color: #F7F9FC;
    border-radius: 10px;
    border-color: #F7F9FC;
    color: #4A4A4A;
    font-size: 18px;
    font-family: sans-serif;
    font-weight:bold;
    margin-bottom: 20px;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.ingreso{
    width: 250px;
    height: 25px;
}

.titulo{
    color: #F7F9FC;
    font-size: 40px;
    font-family: sans-serif;
    font-weight:bold;
    margin-left: 30px;
}

.titulo2{
    color: sandybrown;
    font-size: 30px;
    font-family: sans-serif;
    font-weight:lighter;
    margin-left: 60px;
}

#LOGIN{
    color: #F7F9FC;
    font-size: 50px;
    font-family: sans-serif;
    font-weight:bold;
    
}

.nuevo{
    color: #F7F9FC;
    font-size: 15px;
    font-family: sans-serif;
    font-weight:lighter;
}

#habitos{
    color: #F7F9FC;
    font-size: 28px;
    font-family: sans-serif;
    font-weight:bold;
    display: flex;
    flex-direction: column;
    margin-left: 420px;
    gap: 10px;
}

#tituloHabitos{
    color: #F7F9FC;
    font-size: 35px;
    font-family: sans-serif;
    font-weight:bold;
    margin-left: 270px;
}

.agregarHabito{
    margin-left: 270px;
    margin-top: 30px;
}

.type{
    background-color: #4A4A4A;
    border-radius: 5px;
    border-color: #F7F9FC;
    border-width: 3px;
    width: 200px;
    margin-left: 20px;
    color: #F7F9FC;
}

#botonHabito{
    width: 150px;
    height: 25px;
    background-color: #F7F9FC;
    border-radius: 5px;
    border-color: #F7F9FC;
    color: #4A4A4A;
    font-size: 15px;
    font-family: sans-serif;
    font-weight:bold;
    margin-top: 20px;
    margin-left: 440px;
}
